<div class="brand-header">
    <span class="brand-title">Deals for {{ brandName | titlecase }}</span>

    <span class="header-actions">
        <button mat-icon-button color="accent" (click)="goToPurchaseHistory()" aria-label="Purchase History">
            <mat-icon>receipt_long</mat-icon>
        </button>

        <button mat-icon-button color="primary" class="cart-btn" (click)="goToMyCart()" aria-label="Go to My Cart">
            <mat-icon>shopping_cart</mat-icon>
        </button>

        <button mat-button color="warn" class="logout-btn" (click)="logout()" aria-label="Logout">
            Logout
        </button>
    </span>
</div>


<div *ngIf="coupons.length > 0" class="coupon-wrapper">
    <div *ngFor="let coupon of coupons" class="coupon-ticket">
        <!-- LEFT SIDE -->
        <div class="ticket-left">
            <div class="brand-header">
                <img [src]="coupon.brandLogo" alt="logo" class="brand-logo" />
                <span class="brand-name">{{ coupon.brandName }}</span>
            </div>

            <h2 class="category">{{ coupon.category }}</h2>

            <!-- Conditional for PAID -->
            <ng-container *ngIf="coupon.couponType === 'paid'">
                <div class="price-tag">
                    ₹{{ coupon.price }}
                </div>

                <div class="quantity-box">
                    <button (click)="decreaseQty(coupon)">−</button>
                    <input type="number" [(ngModel)]="coupon.quantityToAdd" min="1" />
                    <button (click)="increaseQty(coupon)">+</button>
                </div>

                <button class="add-cart-btn" (click)="addToCart(coupon)">Add to Cart</button>
            </ng-container>

            <!-- Conditional for PROMO -->
            <ng-container *ngIf="coupon.couponType === 'promotional'">
                <button class="get-coupon-btn" (click)="bookPromotional(coupon.couponId)">Get Coupon</button>
            </ng-container>
        </div>

        <!-- RIGHT SIDE -->
        <div class="ticket-right">
            <div class="offer-box">
                <p class="offer-title">OFFER DETAILS</p>
                <p class="offer-details">{{ coupon.offerDetails }}</p>
            </div>

            <p class="expiry">
                Valid Until: {{ coupon.expiryTime | date: 'MMMM d, y, h:mm a' }}
            </p>

            <p class="coupon-type-label">{{ coupon.couponType | uppercase }} Coupon</p>
        </div>
    </div>
</div>

<div *ngIf="!coupons.length" class="no-coupon">
    <p>No coupons found for {{ brandName | titlecase }}.</p>
</div>